<app-date-picker></app-date-picker>
<!-- <app-commit-diff></app-commit-diff> -->

<button (click)="getCommits();">
    load
</button>

<div>
  <h2>{{userName}}'s commits</h2>
  <h2 *ngIf="fileName">of file: {{fileName}}</h2>
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>file</th>
        <th>date</th>
        <th>type</th>
        <th>change</th>
      </tr>
    </thead>
    <tbody *ngIf="commits.length">
      <tr *ngFor='let commit of commits'>
        <td>{{commit.id}}</td>
        <td>{{commit.fileName}}</td>
        <td>{{getTime(commit.date) | date: 'hh:mm'}}</td>
        <td>{{commit.message}}</td>
        <td>
          <button (click)="openDialog(commit.id);">load diff</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
